h1 {
    padding: 15px;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

#name {
    background-color: #b80000;
    padding: 15px;
}

#contact {
    margin: 0 auto;
}
#photo {
    width: 100%;
    height: auto;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.page-footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: #B80000;
    color: white;
    padding: 10px;
    clear: both;
}