h1 {
    padding: 15px;
}

#name {
    background-color: #b80000;
    padding: 15px;
}

.photos {
    border: 20px #a9a9a9;
    width: 200px;
    height: auto;
}

#contact {
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.page-footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    background-color: #b80000;
    color: white;
    padding: 15px;
}